<div class="flex" style="height: 100vh">
  <div class="col-6 m-3 flex flex-column justify-content-center">
    <div class="m-auto">
      <app-manage-customer
        [operation]="operation"
        (submit)="createAccount($event)"
        (login)="login()"
      ></app-manage-customer>
    </div>
    <p-message
      *ngIf="errorMsg"
      severity="error"
      [text]="errorMsg"
      styleClass="mb-2"
    ></p-message>
  </div>
  <div class="col-6 flex flex-column justify-content-center align-items-center right-container">
    <h1>
      <a href="https://www.amigoscode.com/courses" target="_blank">Enroll Now</a>
    </h1>
    <img
      class="background p-6 pt-0"
      src="https://user-images.githubusercontent.com/40702606/215539167-d7006790-b880-4929-83fb-c43fa74f429e.png"
      alt="">
  </div>
</div>
